<html>
<head>
<title>RESTful</title>
<style>
body {
	background-color: #040082;
	background-image: url("/static/space.jpg");
	color: white;
}

div {
	width:50%; 
	height: 100%;
	padding-right: 5px; 
	padding-left: 5px;
	border-size:2px;
	border-style:solid;
	border-color:white;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}

</style>
</head>
<body>
<center>
<div>
<form action="{{ url_for('submit') }}" method="post">
<br><h1>What do you like?</h1><br><br>
<input type="text" name="_like" id="_like" placeholder="Ex: I like dogs"><br><br><br>
<input type="submit" value="Submit">
</form>
</div>
</center>
</body>
</html>